<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sanxuary Photography</title>
<link rel="stylesheet" href="../photos/styles-site.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../photos/index.rdf" />

</head>

<body>

<table width="732" align="center" border="0" cellspacing="0" cellpadding="0">
<tr>
<td colspan="5">
<div id="banner">

<a href=""><img src="header.gif" border="0"></a>
</td>
</tr>

<tr valign=top>

<td width="290" bgcolor="#eeeeee">

<div id="links">

<img src="images/text_categories.gif" valign="5" hspace="0"><br>
<img src="images/blockthing.gif">   <a href="archives/people/index.php">People</a><br>
<img src="images/blockthing.gif">   <a href="archives/nature/index.php">Nature</a><br>
<img src="images/blockthing.gif">   <a href="archives/inanimate/index.php">Inanimate</a><br>

<br>
<img src="images/blockthing.gif">   <a href="archives/utah/index.php">Utah</a><br>
<img src="images/blockthing.gif">   <a href="archives/new_york/index.php">New York</a><br>
<img src="images/blockthing.gif">   <a href="archives/new_zealand/index.php">New Zealand</a><br>
<img src="images/blockthing.gif">   <a href="archives/washington/index.php">Washington</a><br>

<br>
<img src="images/blockthing.gif">   <a href="archives/portrait/index.php">Portrait</a><br>
<img src="images/blockthing.gif">   <a href="archives/blurry/index.php">Blurry</a><br>
<img src="images/blockthing.gif">   <a href="archives/macro/index.php">Macro</a><br>
<img src="images/blockthing.gif">   <a href="archives/monochromatic/index.php">Monochromatic</a><br>

<br>
<img src="images/blockthing.gif">   <a href="archives/spring/index.php">Spring</a><br>
<img src="images/blockthing.gif">   <a href="archives/summer/index.php">Summer</a><br>
<img src="images/blockthing.gif">   <a href="archives/autumn/index.php">Autumn</a><br>
<img src="images/blockthing.gif">   <a href="archives/winter/index.php">Winter</a><br>
<br>
<img src="images/blockthing.gif">   <a href="archives/shock/index.php">Shock</a><br>
<img src="images/blockthing.gif">   <a href="archives/humor/index.php">Humor</a><br>
<img src="images/blockthing.gif">   <a href="archives/action/index.php">Action</a><br>
<img src="images/blockthing.gif">   <a href="archives/event/index.php">Event</a><br>
<img src="images/blockthing.gif">   <a href="archives/urban/index.php">Urban</a><br>
<img src="images/blockthing.gif">   <a href="archives/texture/index.php">Texture</a><br>
<img src="images/blockthing.gif"> <a href="archives/mathematical/index.php">Mathematical</a><br>
<br>

<img src="images/text_information.gif" valign="5" hspace="0"><br>
<img src="images/blockthing.gif"> <a href="about.php">About</a><br>
<img src="images/blockthing.gif"> <a href="faq.php">FAQ</a><br>
<img src="images/blockthing.gif"> <a href="links.php">Links</a><br>

<br><div class="lightright"><b><$MTBlogEntryCount$></b> photos &nbsp;</div>

<td width="460">

<div id="content">
<div class="blog">
<img src="images/recent.gif"><br>

<!--- deprecated by below
<MTEntries lastn="12">
<a href="<$MTEntryPermalink$>"><img src="thumbs/<$MTEntryBody$>_thumb.jpg" vspace="4" hspace="6" border="0"></a>
</MTEntries>
-->

<?
// number of columns
$numColmax = 4;
$numCol = 1;
$done=false;
?>

<table width="420" align="left" border=0 cellspacing=0 cellpadding=0>

<MTEntries lastn="12">

<?
if ($numCol == 1) { ?>
<tr>

<? } ?>

<td>
<a href="<$MTEntryLink$>">
<img src="thumbs/<$MTEntryBody$>_thumb.jpg" border="0" hspace="4">
</a>
</p>
</td>

<?
$numCol++;
$done = false;
if ($numCol > $numColmax) { ?>

</tr>

<?
$numCol=1;
$done = true;
} ?>

</MTEntries>

<?
if (!($done)) {
for ($i=0; $numCol <= $numColmax; $i++ )
{ ?>

<td> </td>

<?
$numCol++;
}

}

if (($numCol >= $numColmax) && !($done)) {
?>

</tr>

<? } ?>

</table>

</div>

</div>



</table>




<table width="732" align="center" border="0" cellspacing="0" cellpadding="0">

<tr>
<td colspan="5">

<div class="powered">

<br /><a href="http://www.movabletype.org"><img src="anchor.gif" border="0"></a><br />

</div>
</div>
</div>

</body>

</html>





