<?

$<$MTArchiveCategory dirify="1"$>a = 0;

$<$MTArchiveCategory dirify="1"$>this_category = "<$MTArchiveCategory dirify="1"$>";

?>

<MTEntries>

<?

$<$MTArchiveCategory dirify="1"$>idarraytemp[$<$MTArchiveCategory dirify="1"$>a] = "<$MTEntryID encode_php="qq"$>";

$<$MTArchiveCategory dirify="1"$>linkarraytemp[$<$MTArchiveCategory dirify="1"$>a] = "<$MTEntryLink encode_php="qq"$>";

$<$MTArchiveCategory dirify="1"$>a++;

?>

</MTEntries>
