<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title><$MTBlogName$></title>

<link rel="stylesheet" href="../../<$MTBlogURL$>styles-site.css" type="text/css" />

<link rel="alternate" type="application/rss+xml" title="RSS" href="../../<$MTBlogURL$>index.rdf" />



</head>



<body>



<table width="732" align="center" border="0" cellspacing="0" cellpadding="0">

<tr>

<td colspan="5">

<div id="banner">



<!--<h1><a href="<$MTBlogURL$>" accesskey="1"><$MTBlogName$></a></h1>



<span class="description"><$MTBlogDescription$></span>-->



<a href="../../"><img src="../../header.gif" border="0"></a>

</td>

</tr>



<tr valign=top>



<td width="290" bgcolor="#eeeeee">



<div id="links">

<img src="../../images/text_categories.gif" valign="5" hspace="0"><br>
<img src="../../images/blockthing.gif">   <a href="../people/index.php">People</a><br>
<img src="../../images/blockthing.gif">   <a href="../nature/index.php">Nature</a><br>
<img src="../../images/blockthing.gif">   <a href="../inanimate/index.php">Inanimate</a><br>

<br>
<img src="../../images/blockthing.gif">   <a href="../utah/index.php">Utah</a><br>
<img src="../../images/blockthing.gif">   <a href="../new_york/index.php">New York</a><br>
<img src="../../images/blockthing.gif">   <a href="../new_zealand/index.php">New Zealand</a><br>
<img src="../../images/blockthing.gif">   <a href="../washington/index.php">Washington</a><br>

<br>
<img src="../../images/blockthing.gif">   <a href="../portrait/index.php">Portrait</a><br>
<img src="../../images/blockthing.gif">   <a href="../blurry/index.php">Blurry</a><br>
<img src="../../images/blockthing.gif">   <a href="../macro/index.php">Macro</a><br>
<img src="../../images/blockthing.gif">   <a href="../monochromatic/index.php">Monochromatic</a><br>

<br>
<img src="../../images/blockthing.gif">   <a href="../spring/index.php">Spring</a><br>
<img src="../../images/blockthing.gif">   <a href="../summer/index.php">Summer</a><br>
<img src="../../images/blockthing.gif">   <a href="../autumn/index.php">Autumn</a><br>
<img src="../../images/blockthing.gif">   <a href="../winter/index.php">Winter</a><br>
<br>
<img src="../../images/blockthing.gif">   <a href="../shock/index.php">Shock</a><br>
<img src="../../images/blockthing.gif">   <a href="../humor/index.php">Humor</a><br>
<img src="../../images/blockthing.gif">   <a href="../action/index.php">Action</a><br>
<img src="../../images/blockthing.gif">   <a href="../event/index.php">Event</a><br>
<img src="../../images/blockthing.gif">   <a href="../urban/index.php">Urban</a><br>
<img src="../../images/blockthing.gif">   <a href="../texture/index.php">Texture</a><br>
<img src="../../images/blockthing.gif"> <a href="../mathematical/index.php">Mathematical</a><br>
<br>

<img src="../../images/text_information.gif" valign="5" hspace="0"><br>
<img src="../../images/blockthing.gif"> <a href="../../about.php">About</a><br>
<img src="../../images/blockthing.gif"> <a href="../../faq.php">FAQ</a><br>
<img src="../../images/blockthing.gif"> <a href="../../links.php">Links</a><br>

<br><div class="lightright"><b><$MTBlogEntryCount$></b> photos &nbsp;</div>

<td width="460">

<img src="../../images/<$MTArchiveCategory dirify="1"$>.gif"><br>

<?
// number of columns
$numColmax = 4;
$numCol = 1;
$done=false;
?>

<MTPaginate max_sections="24">
<MTPaginateIfMultiplePages>
<div class="posted">Go To Page: <$MTPaginateNavigator$></a></div>
</MTPaginateIfMultiplePages>

<table width="420" align="left" border=0 cellspacing=0 cellpadding=0>
<MTPaginateContent max_words="50">
<MTEntries>

<?
if ($numCol == 1) { ?>
<tr>

<? } ?>

<td>
<a href="../../<$MTEntryLink$>">
<img src="../../thumbs/<$MTEntryBody$>_thumb.jpg" border="0" hspace="4">
</a>
</p>
</td>

<?
$numCol++;
$done = false;
if ($numCol > $numColmax) { ?>

</tr>

<?
$numCol=1;
$done = true;
} ?>

<$MTPaginateSectionBreak$>
</MTEntries>

<?
if (!($done)) {
for ($i=0; $numCol <= $numColmax; $i++ )
{ ?>

<td> </td>

<?
$numCol++;
}

}

if (($numCol >= $numColmax) && !($done)) {
?>

</tr>

<? } ?>

</MTPaginateContent>
</MTPaginate>

</table>



</div>



</table>



<table width="732" align="center" border="0" cellspacing="0" cellpadding="0">



<tr>

<td colspan="5">



<div class="powered">



<br /><a href="http://www.movabletype.org"><img src="../../anchor.gif" border="0"></a><br />



</div>

</div>

</div>



</body>



</html>











